@import "../main";

body {
    --background-color: #1d1e20;
    background-color: var(--background-color) !important;
    height: 100vh;
    overflow: hidden;
    color: white;
    --bottom-buttons-height: 5rem;
    main {
        height: calc(100vh - var(--bottom-buttons-height));
        // @include grid-box()
        .participants-pane {
            width: 100%;
            padding: 1rem;
            height: 100%;
            @include flex-box($items: stretch, $content: center);
            --gap: 1rem;
            --participant-width: 100%;
            --participant-min-width: 95%;
            gap: var(--gap);
            align-content: center;
            flex-wrap: wrap;
            .participant {
                @include flex-box($gap: 0rem, $content: center);
                background-color: rgb(113, 107, 165);
                position: relative;
                overflow: hidden;
                width: var(--participant-width);
                min-width: var(--participant-min-width);
                box-shadow: 0 0 15px #000b;
                &.master {
                    order: 5;
                }
                video{
                    width: 100%;
                }
                &.animate {
                    width: 10rem;
                    opacity: .9;
                    transform: scaleY(.8);
                }
                color: #ddd;
                border-radius: 5px;
                .img {
                    overflow: hidden;
                    border-radius: 50%;
                    width: 10%;
                    min-width: 7rem;
                    position: absolute;
                    img {
                        width: 100%;
                    }
                }
                .name {
                    position: absolute;
                    --position: 1rem;
                    bottom: var(--position);
                    left: var(--position);
                    font-size: 0.9em;
                }
                .micro-voice {
                    position: absolute;
                    --position: 1rem;
                    top: var(--position);
                    right: var(--position);
                }
            }
        }
    }
    .bottom-buttons {
        @include flex-box($content: flex-start, $gap: 0.7rem);
        padding: 0 1.5rem;
        height: var(--bottom-buttons-height);
        width: 100%;
        .left {
            flex-grow: 1;
            width: 100%;
        }
        .middle {
            flex-grow: 2;
            width: 100%;
            .buttons {
                @include flex-box($content: center, $gap: 0.7rem);
            }
        }
        .right {
            width: 100%;
            flex-grow: 1;
            @include flex-box($content: flex-end, $gap: 0rem);
            .buttons {
                @include flex-box($content: flex-end, $gap: 0.7rem);
            }
        }

        .left {
            @include line-clamp(1);
            @include flex-box($gap: 0.5rem);
            font-size: 0.9em;
            font-weight: bold;
            margin-right: 0.5rem;
            p + p {
                @include line-clamp(1);
                padding-left: 0.5rem;
                margin: 0;
                border-left: 1px solid white;
            }
            @media #{custom-query-param(650px)} {
                .hour {
                    display: none;
                }
                .meeting-code {
                    padding: 0;
                    border: none;
                }
            }
        }
        .middle {
            .buttons {
                .icon-btn {
                    @include hover-color-btn(#999);
                }
            }
        }
        .right {
            .buttons {
                button {
                    &.active {
                        i,
                        svg {
                            fill: rgb(156, 190, 255);
                            color: rgb(156, 190, 255);
                        }
                    }
                }
            }
            .reduced-btn {
                display: none;
            }
            @media #{custom-query-param(650px)} {
                .buttons {
                    display: none;
                }
                .reduced-btn {
                    display: initial;
                }
            }
        }
    }
}
